*,
*::before,
*::after {
   padding: 0;
   margin: 0;
}

body {
   width: 100vw;
   height: 100vh;
   background-color: #121212;
}

.center {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   padding: 2px;
   border: 5px solid #fff;
}

.sketch-container {
   top: 0;
   left: 0;
   width: 820px;
   height: 820px;
   background-color: #282828;
   display: flex;
   flex-direction: column;
}

.row {
   display: flex;
   justify-content: space-between;
   flex: 1 0 auto;
}

.square {
   background-color: #b3b3b3;
   /* min-width: 40px; */
   flex: 1;
   /* height: 40px; */
   margin: 3px;
}
